body {
    background-color: white
 
 
 }
 
 @font-face {
    font-family: 'ImpactNew';
    src: url("impact.ttf") format('truetype');
 }
 
 
 div.details {
     font-size: 25px;
     margin-bottom: 100px;
     
 
 }
 
 div.title {
     font-size: 150px;
   
     font-family: 'ImpactNew';
     text-transform: capitalize;
     
     text-align: center;
     margin-bottom: 50px;
 
 }

 div.things {
    font-size: 150px;
    color: blue;
    font-family: 'ImpactNew';
    text-transform: capitalize;
    
    text-align: center;
    margin-bottom: 50px;

}
 
 div.subtitle {
     font-size: 40px;
     color: blue;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     text-transform: capitalize;
     text-align: center;
     margin-top: 60px;
     margin-bottom: 120px;
 }
 
 
 div.text {
 
     font-size: 22px;
     padding: 22px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif
     ;
 }
 



 

