body {
    background-color:wheat
 
 
 }
 
 @font-face {
    font-family: 'ImpactNew';
    src: url("impact.ttf") format('truetype');
 }

 @font-face {
    font-family: 'ComicNew';
    src: url("COMIC.TTF") format('truetype');
 }
 
 
 
 div.details {
     font-size: 25px;
     margin-bottom: 100px;
     
 
 }
 
 div.title {
     font-size: 170px;
   
     font-family: 'ImpactNew';
     text-transform: capitalize;
     
     text-align: center;
     margin-bottom: 50px;
 
 }

 div.things {
    font-size: 170px;
    color: blue;
    font-family: 'ImpactNew';
    text-transform: capitalize;
    
    text-align: center;
    margin-bottom: 50px;

}
 
 div.subtitle {
     font-size: 40px;
     color: blue;
     font-family:'ComicNew';
     text-transform: capitalize;
     text-align: center;
     margin-top: 60px;
     margin-bottom: 120px;
 }

 div.second {
    font-size: 80px;
    color: blue;
    font-family:'ImpactNew';
    text-transform: capitalize;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 15px;
}
 
 
 div.text {
 
     font-size: 22px;
     padding: 22px;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif
     ;
 }
 



 

